@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Valar Morghulis - Game of Thrones themed seminars</h1>
	<p>
		Seminars about web project basics. CRUD operations will be presented in a form of:
	</p>
	<ul>
		<li>Fully synchronous application</li>
		<li>Hybrid of synchronous and asynchronous application (Hybrid)</li>
		<li>Full asynchronous application (Single Page Application)</li>
	</ul>
	<p>Source code available at <a href="https://github.com/EUVIC/Szkolenia-2016" target="_blank">GitHub</a>.</p>
</div>