<div class="row">
    <h4>Character details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            {{ vm.characterDetails.name }}
        </dd>

        <dt>
            Gender
        </dt>

        <dd>
            {{ vm.characterDetails.gender }}
        </dd>

        <dt>
            Born
        </dt>

        <dd>
            {{ vm.characterDetails.born }}
        </dd>

        <dt>
            Died
        </dt>

        <dd>
            {{ vm.characterDetails.died }}
        </dd>

    </dl>
</div>